@font-face {
  font-family: 'Mrs Saint Delafield';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=v6-IGZDIOVXH9xtmTZfRagunqBw5WC62cK8&skey=9589386d66acad9b&v=v14);
}
